.nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLogo img{
    height: 80px;
    width: 80px;
    margin: 20px 0px 0px 300px;
}
.navButton button{
    background-color: rgb(2, 223, 2);
    margin: 20px 300px 0px 0px;
    padding: 3px;
    border-radius: 5px;
}